<div class="row">
  <%= form_for(product, html: { class: 'form-horizontal' }) do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'col-sm-1 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :brand_id, class: 'col-sm-1 control-label' %>
    <div class="col-sm-5">
      <%= f.collection_select(:brand_id, get_brands, :id, :name, {}, { class: 'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'col-sm-1 control-label' %>
    <div class="col-sm-5">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, class: 'col-sm-1 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :price, { class: 'form-control', type: 'number' } %>
    </div>
  </div>

  <div class="actions">
    <div class="col-sm-3">
      <% action = action_name == 'edit' ? 'Edit' : 'Add' %>
      <%= f.submit "#{action} Product", class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
</div>
