<%= form_for(product) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :brand_id %>
    <%= f.select :brand_id do %>
      <% get_brands.each do |brand| %>
        <%= content_tag(:option, brand.name, value: brand.id) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
